<!DOCTYPE html>
/* Colors and fonts */
body{
	background: #F7F9FC;
    color: #575F7D;
    font-family: 'Roboto' , serif;
    font-size: 18px;
    font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'Palatino', sans-serif;
}
h1{
	color: #808081;
	font-size: 30px;
	font-size: 80;
}
h2 {
	color: #000070;
	font-size: 24px;
	font-weight: lighter;
	font-size: 40;
}
a {
	font-family: 'Palatino', sans-serif;
	text-decoration: none;
	color: #000000;
	font-weight: 40;
	font-size: 20px;
}
a:hover {
	color: black;
}

/* Custom design with class*/

.container {
	width:700px;
	margin: 40px auto;
}


@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}


.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.card-circle{
	border-radius: 70%;
}
.btn-blue{
	background-color: #6B72E1;
	color: white;
	padding: 20px 25px;
	border-radius: 4px;
}
.btn-blue:hover{
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inlune;
	padding: 20px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230 / 1.0);
}
.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 50px;

}

